/* Header */
.header__profile-pic-placeholder {
    font-weight: var(--font-bold);
    font-size: 12px;
    color: var(--clr-primary-text);
}

.header__user-name,
.header__logout-text {
    font-weight: var(--font-regular);
    font-size: 0.75rem;
    letter-spacing: 0.04em;
    color: var(--clr-primary-text);
}

.header__logout-text {
    text-decoration: underline;
}

/* Login page */
.login__option-1,
.login__option-2 {
    font-weight: var(--font-regular);
    font-size: 0.75rem;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--clr-primary-text);
}

.login__google-btn {
    font-weight: var(--font-medium);
    font-size: 0.875rem;
    letter-spacing: 0.02em;
    color: var(--clr-titles);
}

.login__option-2 {
    text-align: left;
}

.login__label {
    font-weight: var(--font-regular);
    font-size: 12px;
    letter-spacing: 0.04em;
    color: var(--clr-titles);
}

.login__input::placeholder {
    font-weight: var(--font-regular);
    font-size: 0.875rem;
    letter-spacing: 0.04em;
    color: #a6abb9;
}

.login__log-in-btn,
.login__register-link {
    font-weight: var(--font-bold);
    font-size: 0.75rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff;
}

.login__register-link {
    color: #52555f;
}

/* Modal */
.modal__title {
    font-size: 0.875rem;
    font-weight: var(--font-medium);
    color: var(--clr-primary-text);
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.modal__confirm-btn,
.modal__cancel-btn {
    font-size: 0.75rem;
    font-weight: var(--font-bold);
    color: var(--clr-primary-text);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
