.modalWindow {
	position: absolute;
	top: calc(50% + 130px);
	left: calc(50% + 10px);
	transform: translate(-50%, -50%);
	z-index: 10;
}

.modal__balance {
	width: 288px;
	padding: 25px;
	height: 163px;
	background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);
	border-radius: 30px;
	color: white;
	text-align: center;
}

.part__modal__balance {
	position: absolute;
	top: -10px;
	left: 22%;
	transform: translateX(-50%) rotate(45deg);
	width: 20px;
	height: 20px;
	background: #1d346a;
}
.text__moadl__balance {
	font-size: 14px;
}

.second__text__modal__balance {
	font-size: 12px;
	padding-top: 25px;
}

@media screen and (min-width: 620px) {
	.modalWindow {
		position: absolute;
		top: calc(50% + 120px);
		left: calc(50% + 60px);
		transform: translate(-50%, -50%);
		z-index: 10;
	}
}
