.currentPeriodWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 113px;
}

.currentPeriod {
  color: var(--clr-primary-text);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-decoration: none;
}

.monthSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  position: relative;
}

.arrowButton {
  background: none;
  border: none;
  cursor: pointer;
}
