.summary-container {
  background-color: #f5f6fb;
  border-radius: 20px 20px 20px 0;
  width: 230px;
  height: fit-content;
}

.summary-title {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 12px 0;
  background-color: #f5f6fb;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.06px;
  letter-spacing: 0.02em;
  border: 2px solid white;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
}

.summary-content {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-left: none;
  border-right: none;
  max-height: calc(6 * 40px + 1px); /* 6 rows * 40px height per row */
  overflow-y: auto;
}

.summary-content::-webkit-scrollbar {
  width: 6px;
}

.summary-content::-webkit-scrollbar-track {
  background: #f5f6fb;
}

.summary-content::-webkit-scrollbar-thumb {
  background: #ff751d;
  border-radius: 2px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 2px solid #ffffff;
  height: 40px;
  box-sizing: border-box;
  align-items: center;
}

.summary-row:last-child {
  border-bottom: none;
}

.summary-year {
  width: 20%;
  font-size: 12px;
  color: #52555f;
}

.summary-month {
  width: 40%;
  font-size: 12px;
  color: #52555f;
}

.summary-amount {
  width: 40%;
  font-size: 12px;
  color: #52555f;
}

@media only screen and (min-width: 772px) and (max-width: 1279px) {
  .summary-container {
    margin: 40px 0;
  }
}
