.container_dataheader {
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
	.container_dataheader {
		flex-direction: initial;
		flex-wrap: nowrap;
		margin-bottom: 60px;
		justify-content: space-between;
	}
}

@media screen and (min-width: 1280px) {
	.container_dataheader {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 8px;
	}
}

.reportsLinkWrapper {
	display: flex;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.reportsLinkWrapper {
		margin-left: auto;
		position: initial;
		justify-content: space-between;
	}
	.iconReports {
		margin-inline-end: 30px;
	}

	@media screen and (min-width: 1280px) {
		.reportsLinkWrapper {
			position: absolute;
			right: 85px;
		}
	}

	@media screen and (max-width: 767.9px) {
		.container_dataheader {
			flex-direction: column-reverse;
			margin-bottom: 0;
		}
		.reportsLinkWrapper {
			margin-bottom: 40px;
		}
	}
}
.reports {
	color: rgba(82, 85, 95, 0.7);
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.04em;
	text-decoration: none;
}

.iconReports {
	margin-left: 15px;
	color: rgba(82, 85, 95, 1);
}
