main.login-page {
	position: relative;
	padding-top: 86px;
	padding-bottom: min(
		155px,
		calc(105px + (155 - 105) * ((100vw - 320px) / (772 - 320)))
	);
}

main.login-page::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: min(
		526px,
		calc(286px + (526 - 286) * ((100vw - 320px) / (772 - 320)))
	);
	background-color: var(--clr-background);
	border-radius: 0 0 0 105px;
	z-index: -1;
}

main.login-page::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../../images/background-cabbage/cabbage-mobile.webp),
		url(../../images/background-cabbage/cabbage-mobile-bottom.webp);
	background-repeat: no-repeat;
	background-size: 83px;
	background-position: top 104px right -34px, bottom 0px left 35px;
	z-index: -1;
}

.logo-login-title {
	margin-bottom: min(
		80px,
		calc(50px + (80 - 50) * ((100vw - 320px) / (772 - 320)))
	);
	margin-left: max(
		0px,
		calc(0px + (151 - 0) * ((100vw - 466px) / (772 - 466)))
	);
	width: min(
		307px,
		calc(183px + (307 - 183) * ((100vw - 320px) / (772 - 320)))
	);
	height: min(101px, calc(63px + (101 - 63) * ((100vw - 320px) / (772 - 320))));
}

.login {
	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 5px 10px 20px 0 rgba(170, 178, 197, 0.2);
	padding: min(56px, calc(40px + (56 - 40) * ((100vw - 320px) / (772 - 320))))
		20px;
	max-width: 426px;
	margin-inline: auto;
}

.login__wrapper {
	max-width: 260px;
	margin-inline: auto;
}

.login__option-1 {
	margin-bottom: 32px;
}

.login__google-btn {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 20px;

	cursor: pointer;
	background-color: var(--clr-background);
	box-shadow: 1px 2px 3px 0 rgba(170, 178, 197, 0.2);
	border-radius: 26px;
	margin-inline: auto;
	margin-bottom: 32px;
}

.login__option-2 {
	margin-bottom: 16px;
}

.login__input-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 20px;
}

.login__input-container:nth-child(2) {
	margin-bottom: 40px;
}

.login__input {
	min-height: 52px;
	padding: 17px 19px;
	background-color: var(--clr-background);
	border-radius: 30px;
	cursor: text;
}

.login__btns-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: min(15px, calc(8px + (15 - 8) * ((100vw - 320px) / (772 - 320))));
}

.login__log-in-btn {
	width: 100%;
	padding: 15px 0;
	border-radius: 16px;
	text-align: center;

	cursor: pointer;
	background-color: var(--clr-accent);
	box-shadow: 1px 3px 5px 0 rgba(255, 107, 8, 0.35);
}

.login__register-link {
	width: 100%;
	padding: 15px 0;
	border-radius: 16px;
	text-align: center;

	background-color: var(--clr-background);
	box-shadow: 1px 3px 5px 0 rgba(82, 85, 95, 0.15);
}

@media (width >= 772px) {
	main.login-page {
		padding-top: 80px;
	}

	main.login-page::before {
		background-image: url(../../images/background-cabbage/cabbage-desktop.webp);
		background-repeat: no-repeat;
		background-size: 1334px;
		background-position: top 28px left 10px;
	}

	main.login-page::after {
		background-image: url(../../images/background-cabbage/cabbage-tablet-bottom.webp);
		background-size: 183px;
		background-position: bottom 56px left
			calc(103px + (230 - 103) * ((100vw - 773px) / (1280 - 773)));
	}

	.logo-login-title {
		margin-left: calc(139px + (100vw - 772px) / 2);
	}
}

@media (width >= 1280px) {
	main.login-page {
		padding-inline: 90px;
		padding-top: 117px;
		padding-bottom: 125px;

		display: flex;
		justify-content: center;
		gap: 157px;
	}

	main.login-page::before {
		border-radius: 0 0 0 115px;
	}

	main.login-page::after {
		background-position: bottom 50px left
			calc(103px + (230 - 103) * ((100vw - 773px) / (1280 - 773)));
	}

	.logo-login-title {
		margin-top: 191px;
		margin-left: 138px;
		width: 377px;
		height: 139px;
	}

	.login {
		width: 426px;
		margin-inline: 0;
	}
}

@media (width >= 1334px) {
	main.login-page::before {
		background-size: calc(1334px + (100vw - 1334px));
	}
}
