.container {
	display: flex;
	justify-content: center;
}

.balanceWrapper {
	display: block;
	align-items: center;
	gap: 20px;
}

.label {
	font-size: 12px;
	font-weight: 500;
	color: rgba(82, 85, 95, 0.7);
	margin-left: 80px;
}

.balance {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-top: 15px;
}

.form {
	display: flex;
	align-items: center;
	gap: 10px;
}

.input {
	width: 100px;
	height: 36px;
	border: 2px solid #e0e0e0;
	border-radius: 16px;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	background-color: #ffffff;
	color: var(--clr-primary-text);
	outline: none;
}

.input:focus {
	border-color: var(--clr-accent);
}

.button {
	height: 36px;
	padding: 0 20px;
	border: 2px solid #e0e0e0;
	border-radius: 16px;
	font-size: 12px;
	font-weight: 400;
	color: rgba(82, 85, 95, 0.7);
	background-color: transparent;
	cursor: not-allowed;
	transition: all 0.3s ease;
}

.buttonActive {
	background-color: var(--clr-accent);
	color: #ffffff;
	cursor: pointer;
	border-color: var(--clr-accent);
}

.buttonActive:hover {
	background-color: #ff5400;
	border-color: #ff5400;
}

@media screen and (min-width: 1280px) {
	.balanceWrapper {
		display: flex;
	}

	.label {
		margin-left: 0;
	}

	.balance {
		margin-top: 0;
	}
	.input {
		font-size: 16px;
	}
	.button {
		font-size: 16px;
	}
}

@media screen and (min-width: 768px) {
	.balanceWrapper {
		display: flex;
	}

	.label {
		margin-left: 0;
	}

	.balance {
		margin-top: 0;
	}
	.input {
		font-size: 16px;
	}
	.button {
		font-size: 16px;
	}
}
